<?xml version="1.0"?>
<!--
/**
 * menu
 * @copyright Copyright © 2017 Kinspeed. All rights reserved.
 * @author    luke.paoloni@kinspeed.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>


        <add id="Kinspeed_Schools::first_level"
             title="Schools"
             module="Kinspeed_Schools"
             parent="Magento_Customer::customer"
             sortOrder="9999"
             resource="Magento_Customer::customer" />

        <add id="Kinspeed_Schools::school"
             title="All Schools"
             module="Kinspeed_Schools"
             sortOrder="0"
             parent="Kinspeed_Schools::first_level"
             action="kinspeed_schools/school"
             resource="Kinspeed_Schools::school"/>

          <add id="Kinspeed_Schools::types"
            title="School Types"
            module="Kinspeed_Schools"
            sortOrder="10"
            parent="Kinspeed_Schools::first_level"
            action="kinspeed_schools/types"
            resource="Kinspeed_Schools::types"/>

        <add id="Kinspeed_Schools::suppliers"
             title="School Suppliers"
             module="Kinspeed_Schools"
             sortOrder="20"
             parent="Kinspeed_Schools::first_level"
             action="kinspeed_schools/suppliers"
             resource="Kinspeed_Schools::suppliers"/>


    </menu>
</config>
